.header {
  padding: 5px 120px;
  width: 150px;
  height: 70px;
  background-color: #89238e;
}
footer{
  background-color: #06182b;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}
.border {
  padding: 80px 50px;
  width: 400px;
  height: 450px;
  border: 1px solid #8e238e;
  border-radius: 0px;
  background-color: #cd9ac8;
}

.btn {
  padding: 10px 40px;
  background-color: #8e2380;
  color: #ffffff;
  font-style: oblique;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
}

.textbox {
  padding: 10px 40px;
  background-color: #236b8e;
  text-shadow: #ffffff;
  border-radius: 10px;
}

::placeholder {
  color: #ffffff;
  opacity: 1;
  font-style: oblique;
  font-weight: bold;
}

.word {
  color: #ffffff;
  font-style: oblique;
  font-weight: bold;
}

.bottom {
  color: #236b8e;
  font-style: oblique;
  font-weight: bold;
}

body {
  background: #fafafa;
  color: #ffffff;
  margin-top: 5rem;
  background-image: url('https://unsplash.com/photos/Nnn2Dc6niVU');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {

padding: 30px;
text-align: center;
font-size: 40px;
color: white;
}
h7{
  padding: 30px;
text-align: center;
font-size: 30px;
color: white;
}
p{
  padding: 40px;
color: white;
text-align: center;
}
.bg-steel {
  background-color: #8a5f7f;
}

.site-header .navbar-nav .nav-link {
  color: #dbcbd5;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

div{
  text-align: center;
  display: inline-block;
  
}
.btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  padding: 0.9rem 2.5rem;
  text-align: center;
  background-color:white;
  color: #2B547E;
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #b842ca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}